apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ediscan-data
  namespace: ediscan
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ediscan-models
  namespace: ediscan
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: standard

